html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

body {
    font-family: "Helvetica Neue",sans-serif;
    font-weight: lighter;
}

.container-showcase{
background-color: #1C1A19;
padding: 50px !important;
}
.container{
    padding:40px 80px 40px 80px;
}

.content {
    width: 94%;
    margin: 4em auto;
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
}

.navbar {
    background: #1C1A19;
    
}
.navbar-nav a{
    font-size: 20px;

}

h1 {
    font-size: 35px !important;
    color:#fff !important;
}

.intro {
    color:#fff !important;
}

.text-1{

    align-content: center;
}
#list li{
    font-size: 25px;
    list-style: none;
    position: relative;
    animation-name: square;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-play-state: running;
    opacity: 0;
    
}
#list li:nth-child(1) {
    animation-delay: 10s;
}
#list li:nth-child(2) {
    animation-delay: 9s;
}
#list li:nth-child(3) {
    animation-delay: 8s;
}
#list li:nth-child(4) {
    animation-delay: 7s;
}
#list li:nth-child(5) {
    animation-delay: 6s;
}
#list li:nth-child(6) {
    animation-delay: 5s;
}
#list li:nth-child(7) {
    animation-delay: 4s;
}
#list li:nth-child(8) {
    animation-delay: 3s;
}
#list li:nth-child(9) {
    animation-delay: 2s;
}
#list li:nth-child(10) {
    animation-delay: 1s;
}

@keyframes square { 

    0%{
        color:red;
        opacity: 0;
        top: 0px;
        left:0px;
    }

    0%{
        color:red;
       
        top: 30px;
        left:20px;
    }

    25%{
        color:green;
        opacity: 1;
        top: 80px;
        left:50px;
    }

    50%{
        color:#4ed4d4;
        opacity: 1;
        top: 120px;
        left: 0px;
    }

    75%{
        color:orangered;
        opacity: 1;
        top: 180px;
        left: 80px;
    }

    100%{
        color: yellow;
        opacity: 0;
        top: 250px
    }

}

.fab{
    padding-right: 25px;
}

.fas {
    padding-right: 35px;
}

.overview{
background-color: #1C1A19;
background-image: linear-gradient(315deg, #1C1A19 0%, #2a8187 15%,#4ed4d4 84%);
}

.highlight{
color: #4ed4d4;
}

.btn-dark, p{
    color: #fff !important;
}
.btn-dark:hover {
    color: #fff;
    background-color: #4ed4d4 !important;
    border-color: #1d2124;
}

.details-content, p{
    color: #1C1A19!important;
font-size: 12px !important;
line-height : 20px;
}

/* .image-box{
    display: block;
    width: 100%; 
    height: 200px;
  } */

.card-img-top{
    width:100%; 
    height:100%; 
    object-fit:scale-down;
}

.code-text{
    display: none;
}

.footer{
background-color: #1C1A19;

}

.icon {
    color: #fff;
}

.message{
    padding-top: 200px;
}

/* ON large screen */
@media screen and (min-width: 768px) {
    .container-showcase{
        padding: 150px !important;
      
        } 
        .btn, .btn-dark, .a{
            font-size: 1.1vw !important;
            
        }
        
}


    

